---
import { getRanking } from '@/controllers'
import Layout from '@/layouts/Layout.astro'
import type { Ranking } from '@/types'

const { id } = Astro.params

let ranking: Ranking | null = null

if (!id) return

if (Astro.cookies.has('__session')) {
  const sessionCookie = Astro.cookies.get('__session')?.value

  if (sessionCookie) {
    try {
      const { data } = await getRanking({ id, token: sessionCookie })

      ranking = data
    } catch (error) {
      console.log(error)
    }
  }
}
---

<Layout title={`${id}`}>
  <h1 transition:name={id}>Post {id}</h1>

  <!-- {
    player && player.surface && (
      <Image
        transition:name=`surface-${player._id}`
        src=`/images/${player.surface && player.surface.toLowerCase()}.webp`
        alt=`${player.surface} court`
        width={500}
        height={500}
      />
    )
  }



  <h2>{player.score}</h2>
  <h3>{player.winner_name} vs {player.loser_name}</h3>
  <h4>{player.tourney_name}</h4> -->

  <pre>{JSON.stringify(ranking, null, 2)}</pre>
</Layout>
