---
import Layout from '@/layouts/Layout.astro'
import { Country, type Match } from '@/types'
import { getPlayerImage, parseDateString } from '@/utils'
import { actions } from 'astro:actions'
import { Image } from 'astro:assets'

const { id } = Astro.params

if (!id) return

const { data } = await Astro.callAction(actions.getMatch, {
  id,
})

const match: Match = data?.data

let loserCountryCode,
  winnerCountryCode = undefined

let winnerImg = ''
let loserImg = ''

if (match) {
  loserCountryCode = Country[match.loser_ioc as keyof typeof Country]
  winnerCountryCode = Country[match.winner_ioc as keyof typeof Country]

  winnerImg = await getPlayerImage(match.winner_id)
  loserImg = await getPlayerImage(match.loser_id)
}
---

<Layout
  title={`${id}`}
  background={match && match.surface
    ? `/images/${match.surface.toLowerCase()}.webp`
    : undefined}
  backgroundTransitionName={match && match._id
    ? `surface-${match._id}`
    : undefined}
>
  {
    match && (
      <section>
        <article class="flex justify-center gap-6 items-center">
          <div class="flex flex-col items-center">
            <Image
              class="object-cover h-52 w-52"
              src={winnerImg}
              alt={match.winner_name}
              width={200}
              height={200}
            />
            <h2>{match.winner_name}</h2>
            <Image
              class="h-8 w-8"
              src={`/svgs/${winnerCountryCode}.svg`}
              alt={match.winner_ioc}
              width={32}
              height={32}
            />
          </div>
          <Image
            class="h-8 w-8"
            src="/svgs/versus.svg"
            alt="vs"
            width={32}
            height={32}
          />
          <div class="flex flex-col items-center">
            <Image
              class="object-cover h-52 w-52"
              src={loserImg}
              alt={match.loser_name}
              width={200}
              height={200}
            />
            <h2>{match.loser_name}</h2>
            <Image
              class="h-8 w-8"
              src={`/svgs/${loserCountryCode}.svg`}
              alt={match.loser_ioc}
              width={32}
              height={32}
            />
          </div>
        </article>
        <article class="flex flex-col items-center">
          <p>{match.score}</p>
          <p>{match.tourney_name}</p>
          {match && match.tourney_date && (
            <p>{parseDateString(match.tourney_date)?.toLocaleDateString()}</p>
          )}
          <p>{match.surface}</p>
          <p>{match.tourney_level}</p>
          <p>{match.round}</p>
        </article>
      </section>
    )
  }
</Layout>
