---
import AddPlayersForm from '@/components/AddPlayersForm'
import { GroupCards } from '@/components/GroupCards'
import { HistoryMatches } from '@/components/HistoryMatches'
import { Button } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import type { League } from '@/types'
import { actions } from 'astro:actions'

const { id } = Astro.params

if (!id) return

const { data, error } = await Astro.callAction(actions.getLeague, {
  leagueId: id,
})

if (error) {
  console.error(error.message)
}

const league: League = data
---

<Layout title={league?.name}>
  {
    league && (
      <div class="flex flex-col gap-4 items-center">
        <h1 class="font-bold text-2xl" transition:name={`league-${league._id}`}>
          {league.name}
        </h1>
        {league.startedAt ? (
          <h3 class="font-semibold text-xl text-green-200 ">EN JUEGO</h3>
        ) : (
          <form method="POST" action={actions.startSeason}>
            <input type="hidden" name="leagueId" value={league._id} />
            <Button>Start season</Button>
          </form>
        )}

        <AddPlayersForm client:only="react" leagueId={id} />
      </div>
    )
  }
  {league && <GroupCards client:idle className="my-16" leagueId={league._id} />}
  {
    league && (
      <HistoryMatches client:idle leagueId={league._id} className="my-16" />
    )
  }
</Layout>
