---
import { getPlayer } from '@/controllers'
import Layout from '@/layouts/Layout.astro'
import { Country, type Player } from '@/types'
import { getPlayerImage } from '@/utils'

const { id } = Astro.params

let player: Player | null = null

if (!id) return

if (Astro.cookies.has('__session')) {
  const sessionCookie = Astro.cookies.get('__session')?.value

  if (sessionCookie) {
    try {
      const { data } = await getPlayer({ id, token: sessionCookie })

      player = data
    } catch (error) {
      console.log(error)
    }
  }
}

const imgSrc = await getPlayerImage(player?.player_id ?? 0)

let countryCode: string | undefined

if (player) {
  countryCode = player ? Country[player.ioc as keyof typeof Country] : undefined
}
---

<Layout
  title={`${player ? `${player.name_first} ${player.name_last}` : 'Player'}`}
>
  {imgSrc && <img src={imgSrc} alt="player" width="200" height="200" />}

  {
    player && (
      <div>
        <h2>
          {player.name_first} {player.name_last}
        </h2>
        <p>{player.dob}</p>
        <p>{player.hand}</p>
        <div
          style={{
            display: 'flex',
            alignItems: 'center',
            gap: '0.5rem',
          }}
        >
          <img
            src={`/svgs/${countryCode}.svg`}
            alt={player.ioc}
            height={30}
            width={30}
          />
          <p>{player.ioc}</p>
        </div>
        <p>{player.height} cm</p>
      </div>
    )
  }

  <pre>{JSON.stringify(player, null, 2)}</pre>
</Layout>
